doctype html
html(class="no-js", lang="")
  head
    meta(charset="utf-8")
    meta(name="google-site-verification", content="pxttX6caVZsSiIzVEftYZo68KBEGe8d6toZU_GC7lSg")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= title
    meta(name="description", description=description)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="msapplication-config", content="browserconfig.xml")
    != css
    != meta
  body
    #app!= body
    script!= script
    script(src=entry)
